:root {
  --text-color: #ffffff;
  --bg-url: url("./assets/bg-mobile.jpg");
  --surface-color: rgba(255, 255, 255, 0.1);
  --switch-bg: url("./assets/sun.svg");
}

.light {
  --text-color: #000000;
  --bg-url: url("./assets/bg-mobile-light (1).jpg");
  --surface-color: rgba(255, 255, 255, 0.6);
  --switch-bg: url("./assets/moom.svg");
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
#container {
  width: 368px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Switch */
#switch button {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: none;
  background: var(--surface-color) url(var(--switch-bg)) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: background 0.3s;
}

/* Perfil */
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
  font-size: 16px;
}

/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: var(--surface-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-weight: bold;
  transition: background 0.3s, border 0.3s;
}

ul li a:hover {
  background: rgba(192, 156, 156, 0.05);
  border: 1.5px solid var(--text-color);
}

/* Ícones sociais */
#social-links {
  display: flex;
  gap: 32px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}
